<!--
 =============================================
 Author:      Fernando Alvarado Luna
 Create date: 01/04/2016
 Description: Carrusel de aplicaciones
 Modificó: 
 Fecha: 
 =============================================
-->

<div class="container" ng-init="init()">
            <h1 >Bienvenido {{empleado[0].nombre}}</h1>
            <h3 >{{empleado[0].correo}}</h3>
            <div id="ca-container" class="ca-container">
                <div class="ca-wrapper">
                    <div class="ca-item ca-item-{{Aplicacion.idAplicacion}}"  ng-repeat="Aplicacion in Aplicaciones">
                        <div class="ca-item-main">
                            <div id="liga-open-win">
                                <img src="../images/{{Aplicacion.imagen}}" alt="{{Aplicacion.nombre}}" ng-click="openWindow(Aplicacion.url,Aplicacion.nombre)" />
                            </div>
                            <h3>{{Aplicacion.nombre}}</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>{{Aplicacion.descripcionCorta}}</span>
                            </h4>
                                <a href="#" class="ca-more">mas...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Descripción detallada</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>{{Aplicacion.descripcionLarga}}</p>
                                </div>
                                <h3>Pantallas relacionadas al perfil</h3>
                                <ul>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Autorizar</a></li>
                                    <li><a href="#">Reportes</a></li>
                                    <li><a href="#">Manual</a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div> 
                <h5>BIS Soluciones</h5>
            </div>
</div>