<!--
 =============================================
 Author:      Fernando Alvarado Luna
 Create date: 01/04/2016
 Description: Carrusel de aplicaciones
 Modificó: 
 Fecha: 
 =============================================
-->
<div class="container" ng-init="init()">
    <div id="logo">
        <img src="images/profile/logo.png" id="imgLogo">
    </div>
    <h1 id="titulo">Panel de acceso a aplicaciones </h1>
    <div class="credencial">
        <img src="../images/profile/man.jpg" id="avatar">
        <div class="nombre">
            {{empleado[0].nombre}}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <section id="dg-container" class="dg-container">
        <div class="dg-wrapper">
            <a ng-repeat="Aplicacion in Aplicaciones" ng-click="openWindow(Aplicacion.url,Aplicacion.nombre)">
                <img src="../images/{{Aplicacion.imagen}}" alt="{{Aplicacion.nombre}}" class="imagenApp">
                <div> <span class="textApp"> {{Aplicacion.nombre}}</span></div>
            </a>
        </div>
        <nav>    
            <span class="dg-prev">&lt;</span>
            <span class="dg-next">&gt;</span>
            </nav
        </section>

        <h5 class="copy">2016 - Grupo Andrade</h5>

    </div>